.download-button {
  display: grid;

  .wrapper {
    position: relative;
    height: 3.1rem;
    width: 8.8rem;
    overflow: hidden;
    cursor: pointer;

    .container {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .7rem;
      font-size: .85rem;
      font-weight: 500;
      overflow: hidden;

      &.download {
        color: black;
        background: #F1F1F1;
        z-index: 1;
        top: 0;
      }

      &.loadingSpinner {
        background: #d1d1d1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:.7rem;
        color: black;
        z-index: 2;
        top: -100%;
        position: relative;
      }

      .loading-bar {
        position: absolute;
        top: calc(100% - 3px);
        left: 0;
        width: 0%;
        height: 3px;
        background: rgb(66, 66, 66);
      }

      &.done {
        background: rgb(145, 145, 145);
        color: black;
        z-index: 3;
        top: -100%;
      }
    }
  }
}
