/* .main-container {
    display: flex;
    justify-content: center;
    width: 78%;
    margin: 0 auto;
} */

.social-container>.home-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-weight: 500;
    color: #a0a0a0;
    text-decoration: none;
    transition: linear 0.2s;
}

#light .social-container>.home-links {
    opacity: 0.9;
}

#light .social-container>.home-links:hover {
    opacity: 1;
}

#dark .social-container>.home-links {
    opacity: 0.8;
}

#dark .social-container>.home-links:hover {
    opacity: 1;
}

.social-text {
    transition: linear 0.1s;
}

#dark .social-text:hover {
    color:#f2f2f2;  
    opacity: 1;
}

#light .social-text:hover {
    color:rgb(0, 0, 0);   
}

/* Responsive styles */
@media (max-width: 768px) {
    /* Social container */
    .social-container>.home-links{
        font-size: 11px;
    }

    .social-text {
        font-size: .65rem;
    }
}