.center-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3.6%;
    margin: 3.3% auto;
}

.socials-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-container>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #a0a0a0;
    text-decoration: none;
    transition: linear 0.2s;
}

p {
    max-width: 72%;
}

.social-img {
    height: 24px;
}

.avatar-img {
    height: 85px;
    --f: 1.25;
    cursor: pointer;
    transform: scale(var(--f));
    transition: .5s;
}

.avatar-img:hover {
    --f: 1.32;
}


/* Responsive styles */
@media (max-width: 768px) {

    /* Center content */
    .center-content {
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        gap: 24px;
        margin: 7% auto;
    }
    
    .socials-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;

    }

    /* Social container */
    .social-container>a {
        font-size: 12px;
    }

    .avatar-img {
        height: 68px;
    }

    .social-img {
        height: 20px;
    }

    /* Paragraph */
    p {
        font-size: .9rem;
        max-width: 80%;
    }

    h2 {
        font-size: 1.3rem
    }

    .social-text {
        font-size: .75rem;

    }
}