@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
* {
    font-family: 'Golos Text', sans-serif;

}

nav a {
    color: #a0a0a0;
    text-decoration: none;
    position: relative;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 14px;
    font-weight: 500;
    transition: linear 0.2s;
}

#light a:hover {
    color: #302f2f;
}

#light .active {
    background-color: #eeeaea;
    color: #302f2f;
}

nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav li:last-child {
    margin-right: 0;
}

#dark a:hover {
    color: #ffffff;
}

#dark .active {
    color: #ffffff;
    background-color: #999797;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


@media (max-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin: 0 10%;
        width: 27%;

    }
}