@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

.main-container {
    display: flex;
    justify-content: center;
    width: 78%;
    margin: 0 auto;
}

.blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13px;
    margin-top: 8em;
    width: 90%;
}

.view-counter {
    font-size: 12px;
    color: rgb(194, 194, 194);
    font-family: 'Space Grotesk', sans-serif;
}


.blog-container>.blog-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    font-size: 16px;
    color: #858585;
    text-decoration: none;
    transition: linear 0.1s;
}

.blog-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blog-header-date {
    transition: linear 0.1s;
}

#light .blog-links:hover {
    background-color: #fff;
}

#light .blog-header-date:hover {
    color: rgb(0, 0, 0);
}

#dark .blog-header-date:hover {
    color: #fff;
}

.blog-fist-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    font-size: 16px;
    color: #858585;
    text-decoration: none;
    transition: linear 0.1s;

}

.blog-date {
    font-size: 14px;
}

@media (max-width: 768px) {
    .blogs-container {
        margin-top: 5em;
        width: auto;
    }

    .blog-date {
        font-size: 11px;
    }

    .blog-fist-content {
        width: 100%;
    }
}