@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat-VariableFont_wght;
}

@font-face {
  font-family: Montserrat-VariableFont_wght;
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Supreme-Variable;
  src: url('./assets/fonts/Supreme-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Gilroy-Medium;
  src: url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
}

@layer base {

  /* Hiding scrollbar */
  ::-webkit-scrollbar {
    @apply hidden;
  }

  @keyframes glowing {
    0% {
      background-color: #000;
      color: #e4e4e4;
    }

    100% {
      background-color: #e4e4e4;
      color: #000;
    }
  }
}

@layer components {
  .parent-container {
    @apply flex justify-center w-[80%] mx-auto md:w-full md:flex-wrap;
  }

  /* NAVBAR */
  .navbar-container {
    @apply pt-32 md:pt-6 w-[15%] md:flex-col md:items-start md:w-[0vw] md:h-[100vh];
  }

  .content-container {
    @apply w-[85%] md:pt-[88px] pt-32 pb-9 md:pb-5 pl-5 md:pl-3;
  }

  .navbar-links {
    @apply leading-6 no-underline rounded-md text-[.72rem] font-semibold md:my-[10%] md:px-[13px] md:py-[2px] py-[10px] px-[18px] lg:text-[.8rem];
  }

  .hovered-path {
    @apply text-[#000000] bg-[#ededeee0] dark:text-[#ffffff] dark:bg-[#151516d5];
  }

  /* HOMEPAGE */
  .headers {
    @apply text-[1.5rem] font-normal mb-1 md:text-lg md:mb-0 lg:text-[2rem] dark:text-[#fafafa] text-[#000];
  }

  .avatar-img {
    @apply h-[130px] w-[130px] lg:h-[140px] lg:w-[140px] md:h-[85px] md:w-[85px] object-contain rounded-full;
  }

  .home-texts {
    @apply max-w-[70%] text-[.96rem] font-[400] dark:text-neutral-300 text-[#000] md:max-w-[100%] md:text-xs md:text-[300];
  }

  .home-links {
    @apply flex flex-row items-center gap-2 text-sm font-medium no-underline transition duration-150 ease-linear md:font-[11px] opacity-[.85] dark:opacity-[.8] hover:opacity-100 dark:hover:opacity-90 text-neutral-600 dark:text-neutral-400 hover:text-[#09090B] dark:hover:text-[#fafafa] font-primary;
  }

  .home-download-buttons {
    @apply flex justify-center text-[.85rem] w-[100%] items-center rounded-md h-[100%] gap-[.5rem] md:gap-[.5rem] absolute overflow-hidden font-medium;
  }

  /* GUESTBOOK */
  .login-with {
    @apply flex justify-center items-center px-[1.4rem] py-[.95rem] gap-3 md:gap-2 cursor-pointer transition ease-linear duration-150 md:p-[.85rem] rounded-md lg:w-[35%] w-[45%] md:w-full h-[53px] md:h-[36px] lg:h-[58px];
  }

  .login-with-github {
    @apply bg-[#18181B] text-[#FAFAFA] dark:bg-[#fafafa] dark:text-[#18181B] hover:bg-[#09090bdc] dark:hover:bg-[#f7f7f7e8] border-[#09090B];
  }

  .login-with-google {
    @apply bg-[#ffffff] text-[#09090B] dark:text-[#fafafa] dark:bg-[#09090B] hover:bg-[#ededeee0] dark:hover:bg-[#151516d5] border border-[#E4E4E7] dark:border-[#27272A];
  }

  .send-button {
    @apply flex items-center justify-center absolute right-1 top-[5px] rounded-md transition ease-linear duration-200 font-[500] text-[14px] md:top-1 dark:bg-[#09090B] bg-[#ffffff] hover:bg-[#f1f1f1d8] dark:text-[#fafafa] dark:hover:bg-[#151516d5] text-[#09090B] border dark:border-[#27272A] border-[#E4E4E7];
  }

  .message-input {
    @apply block w-full rounded-md font-[400] text-[.9rem] px-4 py-[.7rem] pr-24 md:pr-16 md:text-[.7rem] md:pl-[.8rem] md:py-[.4rem] text-[#09090B] dark:text-[#fafafa] bg-[#ffffff] border border-[#E4E4E7] dark:border-[#27272A] dark:bg-[#09090B] placeholder-[#71717A] placeholder:text-[.9rem] placeholder:font-[400] dark:placeholder:opacity-75 md:placeholder:text-[.55rem] dark:placeholder-[#A1A1AA] placeholder:opacity-70;
  }

  .testbutton {
    animation: glowing 0.7s linear;
  }

  .custom-underline {
    @apply font-medium border-b-[1.5px] hover:border-b-[2px] md:border-b-[1px] md:hover:border-b-[1.3px] border-[#cececf] dark:border-[#5d5d63d5];
  }

}